@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
body {
   
    color: white; 
     margin: 0;
    background-color: black;
    
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
background-color: black;

}
.navbar-left {
    padding-left: 22px;
}
.navbar-right {
    padding-right: 22px;
display: flex;
flex-direction: row;
align-items: center;

}
.a-element {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
font-size: 20px;
font-weight: bold;
padding: 5px;
margin: 5px;


}
.home {
     
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
height: 70vh;
}
.home-left {
    width: 60vw;
text-align: right;

padding-left: 10vw;
}
.home-right {
    width: 18vw;
}
.heading1 {
    letter-spacing: 5px
}
.infom {
    font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
 }
 .services {
    padding-left: 50px;
    padding-right: 50px;
}
.services-heading {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-variation-settings:
    "wdth" 900;
    text-align: center;
    word-spacing: 5px;
      
}
.sub-count {
    font-family: "Shadows Into Light", cursive;
    font-weight: 200;
    font-style: normal;
    display: flex;
    flex-direction: row; 


}
.list {
padding: 10px;
border: 2px green solid;
   margin: 20px;
text-align: center;
}
.contact {
    text-align: center;
}
.contact-info {
    font-family: "Shadows Into Light", cursive;
    font-weight: 200;
    font-style: normal;
}
.social-icon-img{
    height: 20px;
padding: 10px;
}
.test-img {
    height: 70px;  
}
.list2 {
       border: solid 2px green;
   text-align: center;
   display: flex;
   flex-direction: row;
}
.comp {
    margin-left: 80px;
    margin-right: 80px;
 margin-top: 20px;
}
